*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}
html{
    height: 100%;
    background-color: #9EA0A4   ;
}
.root{
    display: flex;
    flex-direction: column;
}

a{
    color: #9EA0A4;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #54575F;
    width: 100%;
    height: 7vh;
    min-width: 740px;
    z-index: 100;
    box-shadow: 0 5px 10px black;
    .logo{
        font-family: 'Kaushan Script', cursive;
        color: #54575F;
        padding: 5px 15px;
        cursor: pointer;
        font-size: 1.5rem;
        user-select: none;
        @keyframes logoAnimated {
            0%{
                color: #54575F;
                text-shadow: 0 0 15px #54575F;
            }
            50%{
                text-shadow: 0 0 15px rgb(96, 96, 189);
            }
            100%{
                color: #00dcb3b8;
                text-shadow: 0 0 15px #00dcb3b8;
            }
        }
        animation: logoAnimated 1.5s infinite alternate-reverse;
    }
    .nav{
        .nav__item{
            display: inline-block;
            text-align: center;
            padding: 5px 15px;
            width: 165px;
            margin: 0 5px;
            box-shadow: 0 3px 1px #00dcb4;
            cursor: pointer;
            transition: 0.5s;
            &:hover{
                color: #4FBEAC;
                transform: scale(1.3);
                @keyframes navItemAnimated {
                    0%{
                        box-shadow: 0 -10px 10px #54575F;
                        box-shadow: inset 0 0 10px  #54575F ;
                    }
                    50%{
                        box-shadow: 0 0px 10px rgb(96, 96, 189);
                        box-shadow: inset 5px 5px 10px rgb(96, 96, 189);
                    }
                    100%{
                        box-shadow: 0 5px 10px #00dcb3b8;
                        box-shadow: inset -10 -10px 10px #00dcb3b8;
                    }
                }
                animation: navItemAnimated 1s infinite ease-in alternate-reverse;
            }
        }
    }
}

main{
    display: flex;
    article{
        background-color: #9D9FA3;
        width: 100vw;
        min-width: 740px;
        height: 93vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .item-cards {
            // margin: 5vh 50px 0;
            display: flex;
            flex-direction: column;
            margin: 0 50px;
            width: 100%;
            // height: 85%;
            height: 100%;
            padding: 50px;
            background-color: #4FBEAC;
            box-shadow: 10px 10px 25px #41454d;
            transition: 0.5s;
            a{
                color: black;
                padding: 10px;
                border: 1px solid #41454d;
                margin: 5px 0;
            }
        }
    }
}

.item-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .about-me{
            display: flex;
            flex-direction: column;
            align-items: center;
            .myFoto{
                width: 200px;
                height: 185px;
                border-radius: 50%;
                box-shadow: 0 0 15px black;
                transition: 1s;
                cursor: pointer;
                &:hover{
                    box-shadow: 15px 0 15px rgb(168, 102, 168);
                    transform: rotate(25deg) scale(1.1);
                }
            }
            .myName{
                margin-top: 50px;
                margin-bottom: 10px;
            }
        }
        .kraiviks{
            text-align: center;
            ol{
                li{
                    border-radius: 20px;
                    background-color: rgb(142, 212, 191);
                    padding: 5px;
                    margin: 5px;
                    a{
                        border: none;
                    }
                }
            }
        }
    }
    
}

//Media

@media (max-width: 512px) { 
    header{
        min-width: 340px !important;
    }
    article{
        min-width: 340px !important;
    }
 }