* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

.root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  color: #9EA0A4;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #54575F;
  width: 100%;
  height: 7vh;
  min-width: 740px;
  z-index: 100;
  -webkit-box-shadow: 0 5px 10px black;
          box-shadow: 0 5px 10px black;
}

header .logo {
  font-family: 'Kaushan Script', cursive;
  color: #54575F;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  animation: logoAnimated 1.5s infinite alternate-reverse;
}

@-webkit-keyframes logoAnimated {
  0% {
    color: #54575F;
    text-shadow: 0 0 15px #54575F;
  }
  50% {
    text-shadow: 0 0 15px #6060bd;
  }
  100% {
    color: #00dcb3b8;
    text-shadow: 0 0 15px #00dcb3b8;
  }
}

@keyframes logoAnimated {
  0% {
    color: #54575F;
    text-shadow: 0 0 15px #54575F;
  }
  50% {
    text-shadow: 0 0 15px #6060bd;
  }
  100% {
    color: #00dcb3b8;
    text-shadow: 0 0 15px #00dcb3b8;
  }
}

header .nav .nav__item {
  display: inline-block;
  text-align: center;
  padding: 5px 15px;
  width: 165px;
  margin: 0 5px;
  -webkit-box-shadow: 0 3px 1px #00dcb4;
          box-shadow: 0 3px 1px #00dcb4;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .nav .nav__item:hover {
  color: #4FBEAC;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  animation: navItemAnimated 1s infinite ease-in alternate-reverse;
}

@-webkit-keyframes navItemAnimated {
  0% {
    -webkit-box-shadow: 0 -10px 10px #54575F;
            box-shadow: 0 -10px 10px #54575F;
    -webkit-box-shadow: inset 0 0 10px  #54575F;
            box-shadow: inset 0 0 10px  #54575F;
  }
  50% {
    -webkit-box-shadow: 0 0px 10px #6060bd;
            box-shadow: 0 0px 10px #6060bd;
    -webkit-box-shadow: inset 5px 5px 10px #6060bd;
            box-shadow: inset 5px 5px 10px #6060bd;
  }
  100% {
    -webkit-box-shadow: 0 5px 10px #00dcb3b8;
            box-shadow: 0 5px 10px #00dcb3b8;
    -webkit-box-shadow: inset -10 -10px 10px #00dcb3b8;
            box-shadow: inset -10 -10px 10px #00dcb3b8;
  }
}

@keyframes navItemAnimated {
  0% {
    -webkit-box-shadow: 0 -10px 10px #54575F;
            box-shadow: 0 -10px 10px #54575F;
    -webkit-box-shadow: inset 0 0 10px  #54575F;
            box-shadow: inset 0 0 10px  #54575F;
  }
  50% {
    -webkit-box-shadow: 0 0px 10px #6060bd;
            box-shadow: 0 0px 10px #6060bd;
    -webkit-box-shadow: inset 5px 5px 10px #6060bd;
            box-shadow: inset 5px 5px 10px #6060bd;
  }
  100% {
    -webkit-box-shadow: 0 5px 10px #00dcb3b8;
            box-shadow: 0 5px 10px #00dcb3b8;
    -webkit-box-shadow: inset -10 -10px 10px #00dcb3b8;
            box-shadow: inset -10 -10px 10px #00dcb3b8;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main article {
  background-color: #9D9FA3;
  width: 100vw;
  min-width: 740px;
  height: 93vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main article .item-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 50px;
  width: 100%;
  height: 100%;
  padding: 50px;
  background-color: #4FBEAC;
  -webkit-box-shadow: 10px 10px 25px #41454d;
          box-shadow: 10px 10px 25px #41454d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main article .item-cards a {
  color: black;
  padding: 10px;
  border: 1px solid #41454d;
  margin: 5px 0;
}

.item-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-cards .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-cards .container .about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-cards .container .about-me .myFoto {
  width: 200px;
  height: 185px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 15px black;
          box-shadow: 0 0 15px black;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.item-cards .container .about-me .myFoto:hover {
  -webkit-box-shadow: 0 0 15px #a866a8;
          box-shadow: 0 0 15px #a866a8;
  -webkit-transform: rotate(25deg) scale(1.1);
          transform: rotate(25deg) scale(1.1);
}

.item-cards .container .about-me .myName {
  margin-top: 50px;
}

.item-cards .container .kraiviks {
  text-align: center;
}

.item-cards .container .kraiviks ol li {
  border-radius: 20px;
  background-color: #8ed4bf;
  padding: 5px;
  margin: 5px;
}

.item-cards .container .kraiviks ol li a {
  border: none;
}

@media (max-width: 512px) {
  header {
    min-width: 340px !important;
  }
  article {
    min-width: 340px !important;
  }
}
/*# sourceMappingURL=style.css.map */