@import "utils/vars";

//Default - start
html {
  line-height: $mainLineHeight;
  font-family: $mainFont;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

//Default - end

//Main style - start

.grid{
  display: grid;
  grid-template-areas: 
    'a a a a a a b b b'
    'c c c c d d d d d'
    'c c c c e e e e e'
    'f f f g g g g g g'
  ;

  text-align: justify;

  .black{
    color: black !important;
  }
  .weigth{
    font-weight: 900;
  }

  .menu{
    margin-bottom: 70px;
    display: flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .3s;
    cursor: pointer;
    &:hover{
      transform: scale(1.3);
    }
    span{
      margin: 2px;
      width: 30px;
      height: 5px;
      background-color: black;
      border-radius: 15px;
    }
  }
  
  input, textarea{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    outline: none;
    transition: .3s;
    &::placeholder{
      color: white;
    }
    &:focus{
      box-shadow: 1px 1px 15px black;
    }
  }
  .grid__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
    padding: 70px 60px;

    h1{
      font-weight: 300;
      font-size: 40px;
    }
    p{
      margin-top: 37px;
      margin-bottom: 87px;
      font-size: 15,57px;
    }
    .link{
      color:white;
      border: 1px solid white;
      border-radius: 15px;
      padding: 17px 40px;
      font-size: 17px;
      outline: none;
      transition: .3s;
      &:focus{
        box-shadow: 1px 1px 15px black;
      }
      &:hover{
        color: white!important;
        background-color: black;
      }
    }
  }
  .grid__item_1{
    grid-area: a;
    background-image: url(../img/img-1.jpg);
  }
  .grid__item_2{
    grid-area: b;
    background-color: #f3f3f3;
    span{
      display: block;
    }
  }
  .grid__item_3{
    grid-area: c;
    background-image: url(../img/img-2.jpg);
    background-color: #1e92af;
  }
  .grid__item_4{
    grid-area: d;
    background-image: url(../img/img-3.jpg);
    background-color: #fff4d2;
    .link{
      border: 1px solid black;
    }
  }
  .grid__item_5{
    grid-area: e;
    background-image: url(../img/img-4.jpg);
    background-color: #162633;
    .link{
      &:focus{
      box-shadow: 1px 1px 15px white!important;
      }
      &:hover{
        color: black!important;
        background-color: white;
      }
    }
  }
  .grid__item_6{
    grid-area: f;
    background-image: url(../img/img-5.jpg);
    background-color: #1d5367;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .logo__name{
      margin-top: 33px;
      margin-bottom: 20px;
      color: white;
      font-size: 42px;
    }
    .logo__description{
      margin-top: 0;
    }
  }
  .grid__item_7{
    grid-area: g;
    background-image: url(../img/img-6.jpg);
    background-color: #5a665f;
    .inputs__wrap{
      margin-top: 50px;
      margin-bottom: 15px;
      input{
        padding: 20px 60px;
        &:first-child{
          margin-right: 15px;
        }
      }
    }
    .form{
        display: flex;
        flex-direction:column;
        textarea{
        padding: 30px;
        resize: none!important;
        max-width: 600px;
        height: 160px;
        font-size: 20px;
        }
        button{
          cursor: pointer;
          align-self: flex-end;
          border: 1px solid white;
          border-radius: 15px;
          color: white;
          background-color: transparent;
          padding: 20px 50px;
          margin-top: 15px;
          outline: none;
          transition: .3s;
          &:focus{
            box-shadow: 1px 1px 15px black;
          }
          &:hover{
            color: black!important;
            background-color: white;
          }
        }
    }
    .soc__content{
      .soc__title{
        font-weight: 400;
        font-size: 17px;
      }
      .links__wrap{
        margin-top: 40px;
        margin-bottom: 50px;
        .soc__ico{
          padding: 15px 25px;
          border-radius: 10px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          margin-right: 5px;
          transition: .2s;
          &:hover{
            box-shadow: 0 0 5px white;
          }
        }
        .ico-fb{
          background-image: url(../img/fb-img.png);
          background-color:#345BB4;
        }
        .ico-drib{
          background-image: url(../img/dribble-img.png);
          background-color:#E64895;
        }
        .ico-tw{
          background-image: url(../img/twitter-img.png);
          background-color:#00B4FF;
        }
      }
      .description{
        font-size: 17px;
        
      }
    }
  }
}

//Main style - end

// Media queires - start

@media only screen and (max-width: 320px){
  a{
    font-size: 15px !important;
  }
  .form{
    #t-area{
      max-width: 200px !important;
    }
    button{
      align-self: center !important;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .grid{
    grid-template-areas: 
        'a a a'
        'b b b'
        'c c c'
        'c c c'
        'd d d'
        'e e e'
        'f f f'
        'g g g';

    .grid__item_1{
      display: none;
    }
    .logo{
      margin-top: 50px;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .grid{
    grid-template-areas: 
        'a a a'
        'b b b'
        'c c c'
        'c c c'
        'd d d'
        'e e e'
        'f f f'
        'g g g';

    .grid__item_1{
      display: none;
    }

    .grid__item_7{
      .form{
        align-self: center;
        align-items: center;
        .inputs__wrap{
          display: flex;
          flex-direction: column;
          input{
            margin: 10px 0!important;
            padding: 20px 120px;
          }
        }
        #t-area{
          padding: 10px;
        }
      }
    }
  }
  .logo{
    margin-top: 50px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px){
  .grid{
    h1{
      font-size: 30px!important;
    }
    p{
      font-size: 13,57px!important;
    }
    .grid__item_7{
      .form{
        align-self: center;
        .inputs__wrap{
          width: 100%;
          display: flex;
          justify-content: space-between;
          input{
            padding: 20px 10px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 992px){
  .grid__item_7{
    .form{
      align-self: center;
      .inputs__wrap{
        width: 100%;
        display: flex;
        justify-content: space-between;
        input{
          padding: 20px 15px;
        }
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .grid__item_7{
    .form{
      input{
        padding: 20px 60px!important;
      }
      textarea{
        width: 600px;
      }
    }
  }
}
// Media queires - end