.header{
    align-self: normal;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: green;
    box-shadow: 0 5px 15px black;
}

.logo{

}

.nav{
    display: flex;
    list-style-type: none;
}