<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homework(1)</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
    <header>
      <nav>
          <div class="logo">
              <img src="img/dashicons-cloud.png" alt="logo">
              CloudBudget
          </div>
          <div class="nav-menu">
              <a href="#">OVERVIEW</a>
              <a href="#">FEATURES</a>
              <a href="#">TECHNOLOGY</a>
              <a href="#">CONTACT</a>
              <a href="#">SIGN UP</a>
          </div>
          <div class="language">
              <img src="img/Frame 1.png" alt="Flag">
              <select name="language">
                  <option value="EN">EN</option>
                  <option value="UA">UA</option>
                  <option value="RU">RU</option>
              </select>
          </div>
          <button class="login">Login</button>
      </nav> 
      <div class="header-bloc">
          <h1>CloudBudget</h1>
          <h2>Cloud budget management for everyone. Only €69.95 a Month After a 7 Day Trial of <br/> 
            Up to €4.99</h2>
          <button>SIGN UP</button>
      </div> 
    </header>
</body>
</html>