@import "utils/vars";


/* ==========================Default-Start========================== */
html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  min-width: 260px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  width: 100%;
}

/* ==========================Default-End========================== */

section,
footer {
  padding: 100px 0;
}

.text-color__blue {
  color: #008ed6;
}
.text-weight__bold {
  font-weight: 700;
}

.description {
  font-size: 16px;
  transition: 0.5s;
}

.title_section {
  font-size: 35px;
  color: #323232;
  font-weight: 500;
  &::after {
    content: "";
    display: block;
    width: 70px;
    height: 2px;
    background-color: #0199e6;
    margin: 16px auto 18px;
  }
}
.description_section {
  font-size: 17px;
  color: #727272;
  margin-bottom: 80px;
}



/* ==========================section-header========================== */
.header {
  background: url(../img/header-bg.jpg) no-repeat center;
  background-size: cover;
  color: white;
  padding-bottom: 230px;
  .navbar-brand {
    font-size: 35px;
    transition: .5s;
    &:hover{
      color: #008ed6;
    }
    &:hover span{
      color: #ffff;
    }
    span {
      transition: .5s;
      color: #008ed6;
    }
  }
  .nav-link {
    text-align: center;
    svg {
      fill: #ffff;
      transition: .5s;
      &:hover{
        fill: #008ed6;
      }
    }
  }
  .header-content {
    margin-top: 160px;
    position: relative;
    .title {
      font-weight: 400;
    }
    .description {
      margin: 45px 0 70px !important;
    }
    .sub_heading {
      position: absolute;
      bottom: -30%;
      right: 25%;
      font-size: 16px;
      &::after {
        content: url(../img/sub_heading.png);
      }
    }
  }
  form {
    display: flex;
    flex-direction: column;
  
    input {
      box-shadow: -5px 0px 0px #008ed6;
      border: 1px solid #008ed6 !important;
    }
    .btn-primary {
      background-color: #008ed6;
      text-transform: uppercase;
    }
  }
}
/* ==========================section-brief R,L========================== */
.section-briefR,
.section-briefL {
  background-color: #f7f8fa;
  .title {
    &::after {
      content: "";
      display: block;
      width: 70px;
      height: 2px;
      background-color: #0199e6;
      margin-top: 25px;
      margin-bottom: 35px;
    }
  }
  .content-box {
    margin-top: 50px;
    margin-left: 50px;
    .content-item {
      position: relative;
      h6 {
        font-size: 16px;
        margin-bottom: 16px;
      }
    }
    .item-first {
      &::before {
        content: url(../img/brief_icon-1.png);
        position: absolute;
        left: -50px;
        bottom: 40px;
      }
    }
    .item-second {
      &::before {
        content: url(../img/brief_icon-2.png);
        position: absolute;
        left: -50px;
        bottom: 40px;
      }
    }
  }
}
/* ==========================section-briefL========================== */
.section-briefL {
  .item-first {
    &::before {
      content: url(../img/brief_icon-3.png) !important;
    }
  }
  .item-second {
    &::before {
      content: url(../img/brief_icon-4.png) !important;
    }
  }
}
/* ==========================section-features========================== */
.section-features {
  .features__items {
    margin: 80px 0;
    img {
      width: 50px;
    }
    h6 {
      margin-top: 38px;
      margin-bottom: 23px;
    }
  }
}
/* ==========================section-pricing========================== */
.section-pricing {
  background-color: #f7f8fa;
  .description_section {
    margin-bottom: 77px;
  }
  .list-group-item {
    display: flex;
    justify-content: space-between;
  }
  div[class="card-body bg-dark"] {
    color: white;
    transition: 0.5s;
    text-align: center;
  }
  .card {
    .title-price {
      color: #0199e6;
      transition: 0.5s;
    }
    &:hover div[class="card-body bg-dark"] {
      background-color: #0199e6 !important;
      color: white;
    }
    &:hover .btn-primary {
      background-color: #0199e6 !important;
      color: white;
      border: 1px solid transparent;
    }
    &:hover .title-price {
      color: white;
    }
  }
  .btn-primary {
    background-color: transparent;
    color: #727272;
    border: 1px solid black;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.5s;
  }
}
/* ==========================section-watch========================== */
.section-watch {
  iframe {
    margin-bottom: 47px;
    border: none;
  }
}
/* ==========================section-slider========================== */
.section-slider {
  background-color: #f7f8fa;
  .carousel-item {
    img {
      width: 358px;
    }
  }
  .carousel-indicators {
    bottom: -30%;
    li {
      background-color: #94cae6;
      border-radius: 50%;
      width: 15px;
      height: 15px;
    }
  }
}
/* ==========================section-clients========================== */
.section-clients {
  .emblem {
    max-width: 130px;
  }
  .card-text {
    font-style: italic;
    font-size: 16px;
    color: #727272;
  }
  .card-body {
    position: relative;
  }
  .card {
    position: relative;
    background-color: #f7f8fa;
    border: none;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.125);
    &::after {
      content: "";
      width: 30px;
      height: 30px;
      display: block;
      border: 20px solid transparent;
      border-top: 20px solid #f7f8fa;
      position: absolute;
      bottom: -19%;
      left: 43%;
    }
  }
  .ico {
    position: absolute;
    top: -8%;
    left: 46%;
    width: 33px;
    height: 33px;
  }

  .client-name {
    font-size: 16px;
    color: #0199e6;
    font-weight: bold;
  }
  .client-prof {
    font-size: 13px;
    color: #727272;
  }
}
/* ==========================section-registration========================== */
.section-registration {
  background: url(../img/section-reg-bg.jpg) no-repeat center;
  color: white;
  .title {
    margin: 26px 0 74px;
  }
  .btn-primary {
    border-radius: 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 20px 20px 30px;
    background-color: #008ed6;
  }
}
/* ==========================section-upFooter========================== */
.section-upFooter {
  .text {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
  }
  .link {
    font-size: 18px;
    font-weight: bold;
  }
}
/* ==========================Footer========================== */
.footer {
  background-color: #f7f8fa;
  .logo {
    font-size: 35px;
    color: black;
    letter-spacing: -3px;
    transition: .5s;
    &:hover{
      color: #008ed6;
    }
    &:hover span{
      color: #000 !important;
    }
    span {
      color: #008ed6;
      transition: .5s;
    }
  }

  .—Åopyright {
    font-size: 16px;
    color: #919191;
    margin: 20px 0;
  }
  a {
    text-decoration: none;
    img {
      width: 50px;
      height: 50px;
    }
  }
}

/* ==========================Media requests - start========================== */

@media (max-width: 575.98px) {
  .section-watch {
    iframe {
      width: 100%;
      height: 240px !important;
    }
  }
  .section-slider {
    .carousel {
      margin-top: 40px;
    }
    .carousel-item {
      img {
        width: (358px/1.5);
      }
    }
    .carousel-indicators {
      bottom: -40%;
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .description {
    font-size: 14px;
  }
  .header-content {
    .sub_heading {
      display: none;
    }
    form {
      .form__items {
        margin: 10px 0 !important;
        width: 100%;
      }
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .marBottom-5 {
    margin-bottom: 5%;
  }
  .navbar-nav{
    flex-direction: row;
    justify-content: flex-end;
  }
  .header-content {
    .sub_heading {
      bottom: -25% !important;
      right: 18% !important;
    }
  }
  .section-features {
    .features__items {
      margin: 15px 0;
    }
  }
  .section-watch {
    iframe {
      width: 100%;
      height: 360px;
    }
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

/* ==========================Media requests - end========================== */