a{
    text-decoration: none;
    color: #9D9FA3;
    transition: .5s;
}
.app{
    display: grid;
    grid-template-areas: "header header"
                         "left-nav app-body";
    grid-template-columns: 100px 2fr;    
    color: #9D9FA3;
    background-color: #9D9FA3;
}
.header{
    grid-area: header;
}
.left-nav{
    grid-area: left-nav;
}
.app-body{
    grid-area: app-body;
}