* {
  font-family: 'Raleway', sans-serif;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
}

/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 109px;
}

header nav .logo {
  color: #3c3d42;
  font-weight: bold;
  font-size: 2em;
  cursor: pointer;
}

header nav .nav__menu {
  margin-left: -250px;
}

header nav .nav__menu .nav__menu__link {
  text-decoration: none;
  color: #afb8b8;
  padding: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header nav .nav__menu .nav__menu__link:hover {
  color: #0e165c;
  border-bottom: 2px solid green;
}

header nav .nav__contacts {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .nav__contacts .tel {
  margin-right: 50px;
}

header nav .nav__contacts img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

header .header__body {
  height: 85.2vh;
  color: white;
  background-color: #5a64cc;
  background-image: url(../img/bg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .header__body h2 {
  font-size: 36px;
  font-weight: bold;
  padding-top: 180px;
}

header .header__body h2 span {
  font-size: 36px;
  font-weight: 300;
}

header .header__body p {
  width: 468px;
  font-size: 14px;
  color: #9dc7d1;
  margin-bottom: 52px;
}

header .header__body a {
  padding: 10px 35px;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 25px;
  text-transform: uppercase;
}

header .header__body a:active {
  background-color: #fff;
  color: green;
}

.section-features .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.section-features .container .s-features__h {
  color: #636C6C;
  font-size: 36px;
  margin: 115px auto 33px;
}

.section-features .container .s-features__p {
  color: #AFB8B8;
  font-size: 16px;
  margin: 0 auto 150px;
  width: 571px;
  text-align: center;
}

.section-features .container .features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-features .container .features__list .features__list__wrap__border {
  height: 430px;
  width: 2px;
  background-color: #DBE2E2;
  border-radius: 15px;
}

.section-features .container .features__list .features__list__wrap .features__list__element {
  color: #9FA9A9;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  padding: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.section-features .container .features__list .features__list__wrap .features__list__element img {
  width: 40px;
  height: 40px;
  margin-right: 50px;
}

.section-features .container .features__list .features__list__wrap .features__list__element:hover {
  border-right: 5px solid green;
}

.section-features .container .features__list__body {
  color: #636C6C;
  font-size: 24px;
  margin-left: 143px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-features .container .features__list__body h3, .section-features .container .features__list__body p {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.section-features .container .features__list__body img {
  width: 198px;
  height: 165px;
  margin-bottom: 50px;
}

.section-features .container p {
  color: #AFB8B8;
  font-size: 16px;
}

.section-product-feature {
  background-color: #F2F9FE;
  height: 100vh;
}

.section-product-feature .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-product-feature .container .section-product-feature__box {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-product-feature .container .section-product-feature__box h2 {
  font-size: 36px;
  color: #5DCA88;
}

.section-product-feature .container .section-product-feature__box h2::after {
  content: " ";
  margin-top: 18px;
  height: 3px;
  width: 105px;
  background-color: #8C9494;
  display: block;
}

.section-product-feature .container .section-product-feature__box h3 {
  margin-top: 45px;
  font-size: 36px;
  color: #8C9494;
}

.section-product-feature .container .section-product-feature__box p {
  margin-top: 51px;
  color: #8C9494;
  font-size: 16px;
}

.section-product-feature .container .section-product-feature__box a {
  text-transform: uppercase;
  color: #636C6C;
  font-size: 21px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #636C6C;
  border-radius: 30px;
  padding: 20px 30px;
  text-decoration: none;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-weight: bold;
  margin-top: 54px;
}

.section-product-feature .container .section-product-feature__box a:hover {
  background-color: #0D4862;
  color: white;
}

.section-product-feature .container img {
  margin-top: 100px;
}

.section-gallery {
  height: 100vh;
}

.section-gallery .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-gallery .container h2 {
  color: #636C6C;
  font-size: 36px;
}

.section-gallery .container p {
  max-width: 751px;
  color: #AFB8B8;
  font-size: 16px;
}

.section-gallery .container .section-gallery__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}

.section-gallery .container .section-gallery__phone .section-gallery__phone-button {
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section-gallery .container .section-gallery__phone .section-gallery__phone-button img {
  height: 50px;
}

.section-gallery .container .section-gallery__phone .section-gallery__phone-box {
  max-width: 296px;
}

.section-gallery .container .section-gallery__phone .section-gallery__phone-box p {
  margin-top: 25px;
  text-align: center;
  color: #8C9494;
  font-size: 14px;
}

.section-product-geature {
  height: 100vh;
  background-color: #F2F9FE;
}

.section-product-geature .container {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-product-geature .container .section-product-geature__box {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-product-geature .container .section-product-geature__box h2 {
  font-size: 36px;
  color: #5DCA88;
}

.section-product-geature .container .section-product-geature__box h2::after {
  content: " ";
  margin-top: 18px;
  height: 3px;
  width: 105px;
  background-color: #8C9494;
  display: block;
}

.section-product-geature .container .section-product-geature__box h3 {
  margin-top: 45px;
  font-size: 36px;
  color: #8C9494;
}

.section-product-geature .container .section-product-geature__box p {
  margin-top: 51px;
  color: #8C9494;
  font-size: 16px;
}

.section-product-geature .container .section-product-geature__box a {
  text-transform: uppercase;
  color: #636C6C;
  font-size: 21px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #636C6C;
  border-radius: 30px;
  padding: 20px 30px;
  text-decoration: none;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-weight: bold;
  margin-top: 54px;
}

.section-product-geature .container .section-product-geature__box a:hover {
  background-color: #0D4862;
  color: white;
}

.section-testimonials {
  height: 100vh;
}

.section-testimonials .container {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-testimonials .container .testimonials__h-text {
  color: #636C6C;
  font-size: 36px;
}

.section-testimonials .container .testimonials__img {
  height: 101px;
  width: 101px;
}

.section-testimonials .container .testimonials__quote {
  font-family: "Myriad Pro Regular";
  color: #8C9494;
  font-size: 24px;
  font-style: italic;
}

.section-testimonials .container .testimonials__name {
  font-size: 24px;
  color: #5DCA88;
}

.section-newsletter {
  height: 50vh;
  background-color: #F3F5F5;
}

.section-newsletter .container {
  height: inherit;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-newsletter .container .newsletter__title::before {
  content: url(../img/newsletter-ico.png);
  display: inline-block;
}

.section-newsletter .container .newsletter__title {
  font-size: 36px;
  color: #8C9494;
  font-weight: bold;
  -ms-grid-column-align: center;
      justify-self: center;
}

.section-newsletter .container .newsletter__email {
  padding: 15px 50px;
  padding-right: 130px;
  border: 1px solid #8C9494;
  border-radius: 30px;
  outline: none;
  text-align: left;
  width: 700px;
}

.section-newsletter .container .newsletter__submit {
  padding: 15px 50px;
  border: 1px solid #8C9494;
  border-radius: 30px;
  margin-left: -130px;
  outline: none;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #5DCA88;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.section-newsletter .container .newsletter__submit:hover {
  background-color: #8C9494;
  color: #5DCA88;
}

.footer {
  height: 50vh;
  background-color: #2D312F;
}

.footer .container {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container .footer__title {
  font-size: 42px;
  color: #8C9494;
  margin-bottom: 34px;
}

.footer .container .footer__soc {
  margin-bottom: 70px;
}

.footer .container .footer__soc a {
  padding: 0 13px;
}

.footer .container .footer__soc a .footer__soc__ico {
  width: 52px;
  height: 52px;
  padding: 10px;
  border: 1px solid #8C9494;
  border-radius: 50%;
  background-color: #8C9494;
}

.footer .container .footer__contacts-menu a {
  text-decoration: none;
  color: #8C9494;
  font-size: 16px;
  padding: 0 20px;
}

@font-face {
  font-family: "Myriad Pro Regular";
  src: url("../fonts/Myriad Pro Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/*# sourceMappingURL=style.css.map */