<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homework(3)</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <div class="nav">
                    <a class="nav__logo"><img src="assets/images/Logo.svg" alt="logo"></a>
                    <ul class="nav__menu">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Signup</a></li>
                    </ul>
                    <div class="nav__button">
                        <a href="#">Request Demo</a>
                    </div>
                 </div>
            </nav>
            <section class="header">
                <h1 class="header__title">Save your data storage here.</h1>
                <p class="header__text">Data Warehouse is a data storage area that has been
                    tested for security, so you can store your data here
                    safely but not be afraid of being stolen by others.</p>
                <a href="#" class="header__link-more">Learn more</a>
            </section>
        </div>
    </header>
    <main>
        <section class="section-one">
            <div class="container">
                <div class="section-one__box">
                    <img src="assets/images/image2.png" alt="image2" class="section-one__img">
                    <div class="section-one__box-text">
                        <div class="section-one__title">We are a high-level
                            data 
                            storage bank</div>
                        <div class="section-one__text">The place to store various data that you can access at any time through the internet  and where you can carry it. 
                            This very flexible storage area has a high level of security. To enter into your own data you must enter the password that you created when you registered in this Data Warehouse. </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-two">
            <div class="container">
                <div class="section-two__title">Features</div>
                <div class="section-two__text">Some of the features and advantages that we provide for those of you who store data in this Data Warehouse.</div>
                <div class="section-two__box">
                    <div class="section-two__box__item">
                        <img src="assets/images/section-features-img1.png" alt="" class="section-two__box__img">
                        <div class="section-two__box__item-text">
                            <h3 class="section-two__box__h3">Search Data</h3>
                            <p class="section-two__box__p">Don’t worry if your data is very large, the Data Warehoue provides a search engine, which is useful for making it easier to find data effectively saving time.</p>
                            <a href="#" class="section-two__box__a">Learn more</a>
                        </div>
                    </div>
                    <div class="section-two__box__item">
                        <img src="assets/images/section-features-img2.png" alt="" class="section-two__box__img">
                        <div class="section-two__box__item-text">
                            <h3 class="section-two__box__h3">24 Hours Access</h3>
                            <p class="section-two__box__p">Access is given 24 hours a full morning to night and
                                meet again in the morning, giving you comfort when
                                you need data when urgent.</p>
                            <a href="#" class="section-two__box__a">Learn more</a>
                        </div>
                    </div>
                    <div class="section-two__box__item">
                        <img src="assets/images/section-features-img3.png" alt="" class="section-two__box__img">
                        <div class="section-two__box__item-text">
                            <h3 class="section-two__box__h3">Print Out</h3>
                            <p class="section-two__box__p">Print out service gives you convenience if someday
                                you need print data, just edit it all and just print it.</p>
                            <a href="#" class="section-two__box__a">Learn more</a>
                        </div>
                    </div>
                    <div class="section-two__box__item">
                        <img src="assets/images/section-features-img4.png" alt="" class="section-two__box__img">
                        <div class="section-two__box__item-text">
                            <h3 class="section-two__box__h3">Security Code</h3>
                            <p class="section-two__box__p">Data Security is one of our best facilities. Allows for your files
                                to be safer. The file can be secured with a code or password that 
                                you created, so only you can open the file.</p>
                            <a href="#" class="section-two__box__a">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-three">
            <div class="container">
                <h2 class="section-three__title">Testimonials</h2>
                <div class="section-three__box">
                    <h3>John Fang </h3>
                    <p>wordfaang.com</p>
                    <p>Suspendisse ultrices at diam lectus nullam. 
                        Nisl, sagittis viverra enim erat tortor ultricies massa turpis. Arcu pulvinar aenean nam laoreet nulla.</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section class="section-four">
            <div class="container">
                <div class="section-four__box-text">
                    <h2 class="section-four__title">Try for free!</h2>
                    <p class="section-four__text">Get limited 1 week free try our features!</p>
                </div>
                <div class="section-four__box-button">
                    <a href=""></a>
                    <a href=""></a>
                </div>
            </div>
        </section>
        <div class="footer">
            
        </div>
    </footer>
</body>
</html>