<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Adaptive Grid</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>

<body>
    <main class="grid">
      <section class="grid__item_1  grid__item"></section>
      <section class="grid__item_2  grid__item black">
        <div class="menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <h1 class="title">Ali Sayed’s <span class="weigth">Web Designing</span> Project</h1>
        <p class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.
          <br/>
          <br/>
          <br/>
          quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dol.</p>
      </section>
      <section class="grid__item_3  grid__item">
        <div class="item__wrap">
          <h1 class="title">Drawing <span class="weigth">Scketch</span></h1>
          <p class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidu.</p>
        </div>
        <div class="item__wrap">
          <h1 class="title">Making <span class="weigth">Design</span></h1>
          <p class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidu.</p>
        </div>
        <div class="item__wrap">
          <h1 class="title">Developing <span class="weigth">Product</span></h1>
          <p class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidu.</p>
        </div>
      </section>
      <section class="grid__item_4  grid__item black">
        <h1 class="title">Best <span class="weigth">Strarting</span></h1>
        <p class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidu.</p>
        <a href="" class="link black">View Our History</a>
      </section>
      <section class="grid__item_5  grid__item">
        <h1 class="title">Verified <span class="weigth">Dummy</span></h1>
        <p class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidu.</p>
        <a href="" class="link">Go To The Page</a>
      </section>
      <section class="grid__item_6  grid__item">
        <h1 class="title">This Webpage Is <span class="weigth">Designed By</span></h1>
        <div class="logo">
          <img src="./img/logo.png" alt="logo" class="logo">
          <h2 class="logo__name">Ali Sayed</h2>
          <p class="logo__description">Graphic Designer</p>
        </div>
      </section>
      <section class="grid__item_7  grid__item">
        <h1 class="title">Say <span class="weigth">‘Hello’</span></h1>
        <form action="#" method="post" class="form">
          <div class="inputs__wrap">
            <input type="text" name="" id="" placeholder="Your Name">
            <input type="email" name="" id="" placeholder="Your Email">
          </div>
          <textarea name="t-area" id="t-area" placeholder="Your Message Here ..."></textarea>
          <button type="submit">Enter</button>
        </form>
        <div class="soc__content">
          <h3 class="soc__title">Stay Connnected With Us...</h3>
          <div class="links__wrap">
            <a href="#" class="soc__ico ico-fb"></a>
            <a href="#" class="soc__ico ico-drib"></a>
            <a href="#" class="soc__ico ico-tw"></a>
          </div>
          <p class="description">Please Feel Free To Contat With me For Any Kind of Prject.</p>
        </div>
      </section>
    </main>
</body>

</html>
