header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #54575F;
}

.logo{
    font-family: 'Kaushan Script', cursive;
    color: #54575F;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 1.5rem;
    animation: logoAnimated 1.5s infinite alternate-reverse;
    @keyframes logoAnimated {
        0%{
            color: #54575F;
            text-shadow: 0 0 15px #54575F;
        }
        50%{
            text-shadow: 0 0 15px rgb(96, 96, 189);
        }
        100%{
            color: #00dcb3b8;
            text-shadow: 0 0 15px #00dcb3b8;
        }
    }
    animation: logoAnimated 1.5s infinite alternate-reverse;
}

.nav {
  .nav-list {
    list-style-type: none;
    display: flex;

    .list_item {
      display: inline-block;
      text-align: center;
      padding: 5px 15px;
      width: 165px;
      margin: 0 5px;
      box-shadow: 0 3px 1px #00dcb4;
      cursor: pointer;
      transition: 0.5s;
      &:hover{
        color: #4FBEAC;
        transform: scale(1.3);
        @keyframes navItemAnimated {
            0%{
                box-shadow: 0 -10px 10px #54575F;
                box-shadow: inset 0 0 10px  #54575F ;
            }
            50%{
                box-shadow: 0 0px 10px rgb(96, 96, 189);
                box-shadow: inset 5px 5px 10px rgb(96, 96, 189);
            }
            100%{
                box-shadow: 0 5px 10px #00dcb3b8;
                box-shadow: inset -10 -10px 10px #00dcb3b8;
            }
        }
        animation: navItemAnimated 1s infinite ease-in alternate-reverse;
    }
    }
  }
}
