.aside-nav{
    display: flex;
    transition: .5s;
    flex-direction: column;
    background-color: #54575F;
    justify-content: center;
    align-items: center;
    height: 100%;
    .left-nav{
        .left-nav__item{
            color: white;
            padding: 15px 10px;
            margin: 3px 0;
            background-color: rgba(228, 228, 228, 0.24);
            width: 100px;
            text-align: center;
            cursor: pointer;
        }
    }
}

.show-left-nav{
    margin-left: 0;
    box-shadow: 5px 5px 15px black;
}
